*{
    box-sizing: border-box;
}

body{
    background-color: #131313;
}

header{
    background-image: url(../img/Cobra-Kai-Wallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.long_cang{
    font-family: 'Long Cang', cursive;
    font-weight: bold;
    font-style: italic;
}

article img{
    max-width: 100%;    
    opacity: 0.4;
    filter: grayscale(100%);
}

footer p{
    font-size: 1.5rem;
}

#netflix{
    max-width: 10%;
}

.article{
    background-image: url(img/789647.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    opacity: 0.25;
}

form{
    /* border: 1px solid rgba(255, 255, 0, 0.3); */
    border-radius: 0.25rem;
    padding: 32px;
}

div img{
    max-width: 100%;
}

#foto_tabla{
    max-width: 100%;
}

.animado{
    opacity: 0;
    transition: all 2s;
}

.mostrarArriba{
    animation: mostrarUp 1s;
}

@keyframes mostrarUp{
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}

hr{
    background-color: red;
    max-width: 100%;
}

#tablas{
    font-size: 14px;
}

.trailer{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

iframe{

    position: absolute;
    top:0;
    left: 0;
    left: 0;
    right: 0;
    width: 100%;    
    height: 100%;     
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}