*{
    box-sizing: border-box;
}

body{
    background-color: #111111;
}

header{
    background-image: url(../img/Cobra-Kai-Wallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alegreya{
    font-family: 'Alegreya Sans', sans-serif; 
}

article img{
    max-width: 100%;    
    opacity: 0.4;
    filter: grayscale(100%);
}

footer p{
    font-size: 1.5rem;
}

#netflix{
    max-width: 6%;
}

.article{
    background-image: url(img/789647.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    opacity: 0.25;
}

form{
    border: 1px solid rgba(255, 255, 0, 0.3);
    border-radius: 0.25rem;
    padding: 22px 22px 32px;
}

div img{
    max-width: 100%;
}

#foto_tabla{
    max-width: 100%;
}

.animado{
    opacity: 0;
    transition: all 2s;
}

.mostrarArriba{
    animation: mostrarUp 1s;
}

@keyframes mostrarUp{
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}

hr{
    background-color: white;
    max-width: 40px;
}

#tablas{
    font-size: 14px;
}